<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

       <nav>
         <a href="/">Inicio</a>
         <br>
         <a href="/signup">Registrarse</a>
         <a href="/login">Iniciar sesión</a>
         <a href="/profile">Mi perfil</a>
         <a href="/logout">Cerrar sesión</a>

         <nav>
             <a href="/search">Buscador</a>
         </nav>
      </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>